Source: thumbnailer-generator
Section: user/other
Priority: optional
Maintainer: Tomasz Pieniążek <Tomek@unknown>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: thumbnailer-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: thumbnailer_generator
